// <section className="caracteristicas">
// <article className="informacion contenedor">
//     <img src={Imagenes.informacionCuadrado1} />
//     <div className="texto">
//         <p>La familia de Química Rodríguez desarrollo producto que te ayudaran a mantener tu hogar libre de virus, gérmenes y bacterias. Te traemos 3 tips que te ayudaran a mantener tu hogar limpio y ordenado.</p>
//         <p><FontAwesomeIcon icon={faCheckSquare} />Limpia adecuadamente retirando la suciedad visible de las superficies que toques y/o habites frecuentemente (habitaciones, cocina, sala, baños, etc) concentrándonos en (puertas, ventanas, escaleras, muebles, artículos sanitarios, etc.)</p>
//         <p><FontAwesomeIcon icon={faCheckSquare} />Aplica con un paño de microfibra, esponja o trapo los productos que te brinda Química Rodríguez a una dilución de 1:50 (20 ml de producto por cada 1 Litro de agua) y dejar actuar por 8 minutos. Enjuagar si es necesario y lo requiere. (El producto no es tóxico ni corrosivo y no daña las superficies donde es aplicada esta solución desinfectante)</p>
//         <p><FontAwesomeIcon icon={faCheckSquare} />Deje actuar el producto correctamente según lo indicado, para que la solución sea efectiva en la limpieza de dichos espacios.</p>
//         <p>Si deseas mayor información antes de adquirir nuestros productos no dude en contactarnos.</p>
//     </div>
// </article>
// </section>
@import "variables.scss";

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

.caracteristicas {
    .informacion {
        margin-bottom: 30px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        .informacion__imagen {
            order: 2;
            img {
                width: 100%;
            }
        }
        .informacion__texto {
            font-family: $fuente3;
            color: #585757;
            margin: 10px 0;
            p {
                text-align: justify;
                margin: 8px 0;
                svg {
                    margin-right: 10px;
                    color: $color2;
                }
            }
            h4 {
                svg {
                    margin-right: 10px;
                    color: $color2;
                    font-size: 0.7em;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .caracteristicas {
        .informacion {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
            margin-top: 30px;
            .informacion__imagen {
                flex-basis: 0;
                flex-grow: 1;
                order: initial;
                img {
                    width: 100%;
                }
            }
            .informacion__texto {
                font-family: $fuente3;
                font-size: 0.85em;
                color: #585757;
                flex-basis: 0;
                flex-grow: 1;
                margin-left: 30px;
                p {
                    text-align: justify;
                    margin: 8px 0;
                    line-height: 26px;
                    svg {
                        margin-right: 10px;
                        color: $color2;
                        font-size: 1.2em;
                    }
                }
                h4 {
                    svg {
                        font-size: 1em;
                    }
                }
                &:nth-last-child(2) {
                    margin-left: 0;
                    margin-right: 30px;
                }
            }
        }
    }
}
