@import './variables.scss';

.contacto {
    background-color: #292929;
    .contacto__abajo {
        background-color: #fff;
    }
}

.contacto__titulo {
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    color: $color1;
    padding-top: $altoHeader;
}

.contacto__mapa {
    width: 100%;
    height: 350px;
}

.contacto__datos {
    color: #fff;
}

.contacto__logo {
    width: 70px;
    padding: 10px 0;
}


/* Contacto formlario*/

.contacto__input,
.contacto__textarea {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px 6px;
    border-radius: var(--borderRadius);
    height: 50px;
    color: $color10;
}

.contacto__textarea {
    height: 120px;
}

.contacto__formulario {
    margin: 20px 0;
}

.contacto__formulario__titulo {
    margin: 20px 0;
    color: $color1;
}

.boton--formulario {
    background: $color2;
    color: #fff;
    cursor: pointer;
}

.boton--formulario:hover {
    background: $color3;
}

.contacto__mensajes {
    display: none;
}

@media (min-width: 1800px) {
    $altoHeader: 90px;
    .contacto__titulo {
        text-align: center;
        text-transform: uppercase;
        background-color: #000;
        color: #fff;
        padding-top: $altoHeader !important;
    }
}
