$colorHeader: #fff;
$colorMenu: rgba(12, 34, 70, 0.5);
$altoHeader: 70px;
$colorTextoHeader: #818284;
$colorBordesCajas: #e8e8e8;
$altoLiBuscador: 65px;

.ctn-bars-search {
    position: relative;
}
.box-search {
    background-color: #fff;
    display: none;
    width: 100%; // Ancho cambiante
    position: absolute;
    left: 0;
    top: 50px;
    box-shadow: 0 0 1px #000;
    z-index: 999;
    border-radius: 4px;
    max-height: $altoLiBuscador * 3; //Maximo de alto del ul
    overflow: auto;
    li {
        width: 100%;
        height: $altoLiBuscador;
        border-bottom: 1px solid $colorBordesCajas;
        &:hover {
            background-color: rgb(240, 250, 255);
        }
        a {
            padding: 8px 8px;
            display: block;
            display: flex;
            align-items: center;
            width: inherit;
            height: inherit;
            color: #000;
            font-size: 0.85em;
            img {
                margin-right: 5px;
            }
        }
    }
}

.header {
    color: #fff;
    background-color: $colorHeader;
    display: block;
    width: 100%;
    .header__arriba {
        padding: 6px 0;
        background-color: #fff;
        border-bottom: 1px solid $colorBordesCajas;
        .logo__principal {
            display: block;
            text-align: center;
            // padding: 10px 0;
            .logo {
                width: 100px;
            }
        }
        .container__buscador__horario {
            display: flex;
            padding: 0 6px;
            position: relative;
            // Buscador
            .ctn-bars-search {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-basis: 0;
                flex-grow: 4;
                margin-right: 4px;
                height: 58px;
                border: 1px solid $colorBordesCajas;
                border-radius: 4px;
                padding: 8px;
                .input-search {
                    width: 100%;
                    border: none;
                    font-size: 0.9em;
                    &:focus {
                        // Al hacer focus no tendrá el borde alrededor por defecto que tenia
                        outline: none;
                    }
                }
                svg {
                    color: $colorTextoHeader;
                }
            }
            .horario {
                flex-basis: 0;
                flex-grow: 2;
                // height: 60px;
                border-radius: 6px;
                padding: 6px;
                border: 1px solid $colorBordesCajas;
                color: $colorTextoHeader;
                display: flex;
                // width: 200px;
                .horario__icono {
                    height: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-basis: 0;
                    flex-grow: 1;
                    svg {
                        font-size: 16px;
                        color: $color1;
                        transform: rotate(-45deg);
                    }
                }
                .horario__info {
                    flex-basis: 0;
                    flex-grow: 4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    div {
                        display: flex;
                    }
                    h6 {
                        font-size: 0.8em;
                        color: $color1;
                    }
                    p {
                        font-size: 0.55em;
                    }
                    > p {
                        color: $color1;
                    }
                }
            }
        }
    }

    .header__abajo {
        display: flex;
        align-items: center;
        background: #fff;
        box-shadow: 0 0 1px rgb(129, 129, 129);
        height: 50px;
    }
}
.logo__container {
    // display: none;
    position: absolute;
    // right: 10px;
    right: calc(50% - 50px);
    .logo {
        width: 100px;
    }
}

.toggle__container {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 8px;
    color: #000;
    background-color: $color1;
    color: #fff;
    svg {
        font-size: 20px;
        cursor: pointer;
    }
    label{
        margin-left: 5px;
    }
}

.menu {
    height: 100vh;
    position: absolute;
    top: -6px;
    width: 50%;
    right: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 0 0 0 #000;
    .boton__cerrar__menu {
        cursor: pointer;
        background-color: $color1;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 10px;
        a {
            text-transform: uppercase;
            margin-right: 5px;
            font-size: 0.8em;
        }
    }
    > a {
        padding: 20px 0;
        text-transform: uppercase;
        font-size: 0.8em;
        color: #000;
        border-bottom: 1px solid $colorBordesCajas;
    }
    .categoria__link {
        color: $color1;
        font-weight: 600;
    }
}
.menu.active {
    position: absolute;
    top: -6px;
    right: 50%;
    background-color: $colorHeader;
    transition: all 0.5s;
    height: 102vh;
    box-shadow: 1px 0px 4px #000;
}

@media (min-width: 500px) {
    .horario__icono {
        svg {
            font-size: 30px !important;
        }
    }
}

@media (min-width: 768px) {
    .contenedor {
        margin: 0 auto;
        max-width: 90em;
        width: 95%;
    }
    .boton__cerrar__menu {
        display: none !important;
    }
    .header {
        // box-shadow: 0 0 2px #000;
        border-bottom: 1px solid #000;
        .header__arriba {
            background-color: #fff;
            display: flex;
            .logo__principal {
                flex-basis: 0;
                flex-grow: 1;
                .logo {
                    width: 120px;
                }
            }
            .container__buscador__horario {
                flex-basis: 0;
                flex-grow: 6;
                padding: 0 !important;
                .ctn-bars-search {
                    flex-grow: 4;
                    margin-left: 12px;
                    margin-right: 4px;
                }
                .horario {
                    flex-grow: 2;
                    margin-left: 20px;
                    .horario__info {
                        flex-grow: 5;
                        div {
                            margin: 2px 0;
                            display: flex;
                            p {
                                margin-right: 4px;
                            }
                        }
                        p {
                            margin: 2px 0;
                        }
                    }
                }
            }
        }
        .header__abajo {
            background-color: #ececec;
            position: relative;
            height: inherit;
            justify-content: space-between;
            align-items: center;
        }

        .toggle__container {
            display: none;
        }
        .logo__container {
            display: none;
            position: initial;
            position: absolute;
            left: 30px;
        }
        .menu {
            position: initial;
            top: initial;
            right: initial;
            height: initial;
            flex-direction: row;
            width: auto;
            position: absolute;
            right: 30px;
            left: 0;
            a {
                color: #818284;
                margin-left: 60px;
                font-size: 0.9em;
                font-weight: 600;
                text-shadow: initial;
                text-transform: uppercase;
                &:hover {
                    color: #19778c;
                }
            }
        }
        .menu.active {
            left: initial;
        }
    }
}

@media (min-width: 992px) {
    body {
        font-size: 18px !important; //Esto puede cambiar, ya veremos
    }
    .header .header__arriba .container__buscador__horario .horario {
        flex-grow: 1;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px !important;
    }
}

// @media (min-width: 1800px) {
//     $altoHeader: 90px;
//     .header {
//         height: $altoHeader;
//     }
//     .menu {
//         a {
//             font-size: 1.5em;
//         }
//     }
//     .logo__container {
//         .logo {
//             width: 120px;
//         }
//     }
// }
