$colorHeader: #0C2246;
$altoHeader: 70px;

.header {
    position: fixed;
    top: 0;
    color: #fff;
    background-color: $colorHeader;
    z-index: 10;
    display: block;
    width: 100%;
    height: $altoHeader;
    .header__wrap {
        position: relative;
        width: 95%;
        margin: 0 auto;
    }
}
.logo__container {
    position: absolute;
    left: 0;
    .logo {
        width: 100px;
    }
}

.toggle__container {
    position: absolute;
    right: 0;
    svg {
        font-size: 20px;
        cursor: pointer;
    }
}

.menu {
    // display: none;
    position: absolute;
    right: -1000%;
    height: 80px;
    background-color: $colorHeader;
    position: absolute;
    top: $altoHeader;
    display: flex;
    flex-direction: column;
    &.active {
        left: 0;
    }
}
@media (min-width: 768px) {
    .header{
        box-shadow: 0 0 2px #fff;
    }
    .header__wrap {
        position: relative;
        display: flex;
        height: inherit;
        justify-content: space-between;
        align-items: center;
    }
    .toggle__container {
        display: none;
    }
    .logo__container{
        position: initial;
    }
    .menu {
        position: initial;
        top: initial;
        right: initial;
        height: initial;
        flex-direction: row;
        a{
            margin-left: 60px;
            font-size: 1.3em;
        }
    }
}
