.nosotros {
    margin-top: $altoHeader;
    background-color: #001031;
    .nosotros__izq {
        color: #fff;
        background-color: #001031;
        .vision{
            padding: 10px 0;
            img{
                margin-bottom: 10px;
            }
            p{
                text-align: justify;
                line-height: 25px;
            }
        }
        .mision{
            padding: 10px 0;
            img{
                margin-bottom: 10px;
            }
            p{
                text-align: justify;
                line-height: 25px;
            }
        }
    }
    .nosotros__der {
        color: #000;
        background-color: #fff;
        .wrap{
            padding: 10px 0;
        }
        img{
            width: 70px;
        }
        h5{
            font-size: 2.2em;
            text-transform: uppercase;
        }
        ul{
            list-style: initial;
            li{
                margin-left: 20px;
                font-size: 1.2em;
                margin-top: 24px;
            }
        }
    }
    .nosotros__wrap {
        display: block;
        margin-top: -4px;
    }
    .nosotros__certificado__container{
        border: 1px solid #000;
        background-color: #fff;
        padding: 15px 0;
    }
    .nosotros__certificado{
        background-color: #fff;
        border: 1px solid #a3a3a3;
        border-radius: 8px;
        margin-top: 10px;
        padding: 10px;
        h3{
            margin: 8px 0;
        }
        p{
            margin: 10px 0;
        }
        li{
            list-style: none;
            display: block;
            margin: 8px 0;
            span{
                color: #000;
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 768px) {
    .nosotros {
        .nosotros__wrap {
            display: flex;
            // flex-direction: row;
            .nosotros__izq {
                width: 50%;
            }
            .nosotros__der {
                width: 50%;
            }
        }
    }
}
