@import "./variables.scss";

.nosotros {
    margin-top: 10px;
    background-color: #fff;
    font-family: $fuente1;
    color: $color10;
    h3 {
        color: $color10;
        margin-top: 6px;
        margin-bottom: 30px;
        text-align: left;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            display: block;
            bottom: -6px;
            background-color: $color1;
            height: 2px;
            width: 60px;
        }
    }
    .nosotros__container {
        h2 {
            margin-top: 10px;
            color: $color1;
            text-align: center;
            text-transform: uppercase;
        }
        > p {
            text-transform: uppercase;
            margin-top: 8px;
            margin-bottom: 10px;
            color: $color10;
            font-family: $fuente3;
            text-align: center;
            font-size: 0.8em;
        }
        .nosotros__wrap {
            display: block;
            .container__img {
                display: block;
                img {
                    margin: 0 auto;
                    width: 100%;
                }
            }
            .nosotros__sobre {
                > p {
                    font-size: 0.8em;
                    margin: 8px 0;
                    text-align: justify;
                    font-size: 0.8em;
                }
            }
            .nosotros__vismis {
                > p {
                    text-align: justify;
                    font-size: 0.8em;
                }
                ul {
                    li {
                        margin: 6px 0;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
    .nosotros__certificado__container {
        background-color: #fff;
        padding: 15px 0;
    }
    .nosotros__certificado {
        background-color: #fff;
        border: 1px solid #a3a3a3;
        border-radius: 8px;
        margin-top: 10px;
        padding: 10px;
        h3 {
            margin: 8px 0;
            text-align: center;
            color: $color1;
            &::after{
                display: none;
            }
        }
        p {
            margin: 10px 0;
            font-size: 0.8em;
        }
        li {
            list-style: none;
            display: block;
            margin: 8px 0;
            font-size: 0.8em;
            span {
                color: $color10;
                font-weight: bold;
            }
        }
    }
    .nosotros__tienda{
        h3{
            text-align: center;
            color: $color1;
            &::after{
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .nosotros {
        .nosotros__container {
            .nosotros__wrap {
                display: flex !important;
                margin: 20px auto;
                .container__img {
                    flex-basis: 0;
                    flex-grow: 1;
                }
                .nosotros__sobre {
                    flex-basis: 0;
                    flex-grow: 1;
                    margin-left: 20px;
                }
                .nosotros__vismis {
                    margin-right: 20px;
                    flex-basis: 0;
                    flex-grow: 1;
                }
            }
        }
    }
}
