@import "variables.scss";

.caracteristicas__producto__container {
    margin-top: 5px;
}

.producto__principal {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius);
    .slider {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        .slide {
            display: none;
            // width: 100%;
            width: 300px !important;
            height: 525px !important;
            // Poner en 480px en desktop, el important aqui es importante no
        }
        .slide.active {
            display: block;
            position: absolute;
            top: 0;
        }
        svg {
            top: 40%;
            font-size: 53px;
            cursor: pointer;
            border-radius: 6px;
            border: 1px solid #656565;
            color: #3b3b3b;
            z-index: 99;
        }
        .left-arrow {
            left: 0;
        }
        .right-arrow {
            right: 0;
        }
        // .slide{
        //     display: none;
        // }
    }
}

.producto__principal img {
    // width: 250px !important;
    width: 250px;
    margin: 0 auto;
}

.producto__principal .fas {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--bordeGris);
    border-radius: var(--borderRadius);
}

.fa-angle-left {
    position: absolute;
    left: 8px;
}

.fa-angle-right {
    position: absolute;
    right: 8px;
}

.producto__secundario {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.producto__secundario img {
    width: 80px;
    border: 1px solid var(--bordeGris);
    border-radius: var(--borderRadius);
}

.caracteristicas__producto {
    margin-top: 0;
}
.caracteristicas__producto__izq {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 100%;
    height: 400px;
    // border: 1px solid var(--bordeGris);
    border-radius: 6px;
}

.caracteristicas__producto__der {
    padding: 5px 10px;
    // width: 100%;
    .usos {
        list-style: square;
        li {
            text-align: left;
            margin: 4px 0;
        }
    }
}

.caracteristicas__producto__der h4 {
    font-family: $fuente2;
    margin-bottom: 5px;
    font-size: 1.3em;
    text-align: center;
}

.caracteristicas__producto__der__info {
    // border: 1px solid #dbdbdb;
    padding: 10px 10px;
    border-radius: var(--borderRadius);
    font-size: 1.2em;
    margin: 8px 0;
    text-align: justify;
    a {
        width: 290px;
    }
}

.caracteristicas__producto__der__info p {
    font-family: $fuente3;
    font-weight: bold;
    margin: 5px 0;
    color: #3b3b3b;
}

.caracteristicas__producto__der__info p span {
    font-family: $fuente3;
    font-weight: normal;
    color: #585858 !important;
    // text-transform: lowercase;
}

.caracteristicas__producto__der__info span {
    font-weight: normal;
}

.boton-pdf {
    display: flex;
    background: #db5657;
    align-items: center;
    width: 350px;
    justify-content: left;
    margin-top: 20px;
    font-size: 0.8em;
    &:hover {
        background: #ac3e3e;
    }
}

.boton.boton-pdf {
    padding: 15px 14px;
}

.boton-pdf .ic-pdf {
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.servicios {
    display: none;
}
.caracteristicas__producto__item {
    height: 500px;
}

@media (min-width: 768px) {
    .caracteristicas__producto__item {
        display: flex;
        > div,
        article {
            flex-basis: 0;
            flex-grow: 1;
        }
        .caracteristicas__producto__izq {
            // height: 530px;
        }
        .servicios {
            display: block;
            background-color: #fff;
            .servicios__wrap {
                flex-direction: column;
                .servicios__card {
                    box-shadow: initial;
                    border: 1px solid #dbdbdb;
                    margin: 5px 0;
                    p {
                        font-size: 0.9em;
                    }
                    ul {
                        li {
                            font-size: 0.85em;
                        }
                    }
                }
            }
        }
    }
    .caracteristicas__producto__container {
        margin-top: 10px;
    }
    .caracteristicas__producto__der {
        margin-top: 20px;
        h4 {
            text-align: center;
        }
        .caracteristicas__producto__der__info {
            position: relative;
            padding: 30px 10px;
            // border: initial;
            font-size: 0.9em;
            div {
                margin: 12px 0;
                max-width: 50%;
                li {
                    font-size: 0.9em;
                }
            }
            a {
                margin: 15px 0;
                margin-right: 10px;
                font-size: 1em;
                &:nth-last-of-type(1) {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                &:nth-last-of-type(2) {
                    position: absolute;
                    top: 80px;
                    right: 0;
                }
                &:nth-last-of-type(3) {
                    position: absolute;
                    top: 160px;
                    right: 0;
                }
                // &:nth-child(2) {
                //     position: absolute;
                //     top: 0;
                //     right: 0;
                // }
            }
        }
    }
    .producto__principal {
        .slider {
            svg{
                top: 70%;
            }
            .slide {
                width: 480px !important;
                height: 720px !important;
             
            }
        }
    }
    .caracteristicas__producto__item {
        height: 800px;
    }
}
