.productos {
    margin-top: $altoHeader;
}
.productos__titulo {
    text-transform: uppercase;
}

.categorias__wrap {
    display: flex;
}

.categorias__titulo {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 30px;
}

.categorias__conjunto {
    border: 1px solid var(--bordeGris);
    border-radius: var(--borderRadius);
    width: 1150px;
    padding: 8px 10px;
}

.categorias__conjunto a {
    color: #000;
    display: block;
    text-align: left;
    margin: 8px 0;
    font-weight: 600;
    cursor: pointer;
    /* text-decoration: underline; */
}

.categorias__conjunto a svg {
    margin-right: 8px;
}

.categorias__info {
    padding: 8px 10px;
    text-align: justify;
}

.producto-tab {
    display: none;
    margin-top: 10px;
}

.producto-tab.producto-tab-active {
    display: block;
}

.producto-tab__titulo {
    margin-bottom: 10px;
}

.producto-tab__item {
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: var(--borderRadius);
    box-shadow: 0 0 4px #000;
}

.producto-tab__item h3 {
    text-align: left;
    margin-bottom: 5px;
}

.producto-tab__item__caja {
    display: flex;
}

.producto-tab__item__producto {
    padding: 0 10px;
}

.producto-tab__item__producto a {
    text-align: center;
}

.producto-tab__item__producto img {
    width: 170px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid var(--bordeGris);
    border-radius: var(--borderRadius);
}

.producto-tab__item__info {
    padding: 0 10px;
    text-align: justify;
}

.producto-tab__item__info p {
    margin-bottom: 10px;
    ul {
        list-style: disc;
        margin-left: 18px;
    }
}

.producto-tab__item__info p span {
    color: #042c83;
    font-weight: bold;
}

