.caracteristicas__producto__container {
    margin-top: 90px;
}

.producto__principal {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius);
    .slider {
        svg {
            top: 40%;
            font-size: 53px;
            cursor: pointer;
            border-radius: 6px;
            border: 1px solid #000;
        }
        .left-arrow {
            left: 0;
        }
        .right-arrow {
            right: 0;
        }
    }
}

.producto__principal img {
    width: 250px;
}

.producto__principal .fas {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--bordeGris);
    border-radius: var(--borderRadius);
}

.fa-angle-left {
    position: absolute;
    left: 8px;
}

.fa-angle-right {
    position: absolute;
    right: 8px;
}

.producto__secundario {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.producto__secundario img {
    width: 80px;
    border: 1px solid var(--bordeGris);
    border-radius: var(--borderRadius);
}

.caracteristicas__producto{
    margin-top: 12px;
}
.caracteristicas__producto__izq {
    padding: 5px 10px;
    width: 100%;
    border: 1px solid var(--bordeGris);
}

.caracteristicas__producto__der {
    padding: 5px 10px;
    width: 100%;
    .usos {
        list-style: square;
        li {
            text-align: left;
            margin: 4px 0;
        }
    }
}

.caracteristicas__producto__der h4 {
    margin-bottom: 5px;
    font-size: 1.3em;
}

.caracteristicas__producto__der__info {
    padding: 5px 5px;
    background-color: #f4f4f4;
    border-radius: var(--borderRadius);
    font-size: 1.2em;
    margin: 8px 0;
    text-align: justify;
}

.caracteristicas__producto__der__info p {
    font-weight: 600;
    margin: 5px 0;
}

.caracteristicas__producto__der__info p span {
    font-weight: normal;
    color: #000;
}

.caracteristicas__producto__der__info span {
    font-weight: normal;
    color: #000;
}

.boton-pdf {
    display: flex;
    background: #db5657;
    align-items: center;
    width: 250px;
    justify-content: left;
    margin-top: 20px;
}
.boton.boton-pdf {
    padding: 15px 14px;
}

.boton-pdf .ic-pdf {
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .caracteristicas__producto__container{
        margin-top: 120px;
    }
    .producto__principal img{
        width: 340px;
    }
}
