@media (min-width: 768px) {
    body {
        /* background-color: blue; */
    }
    .boton {
        padding: 15px 5px;
        width: 120px;
        margin-top: 8px;
    }
    .experiencia__wrap {
        display: flex;
        justify-content: space-evenly;
    }
    .experiencia__item {
        font-size: 1.5em;
    }
    .produccion h3 {
        font-size: 2em;
    }
    .produccion__wrap {
        width: 600px !important;
        margin: 0 auto;
    }
    .produccion__info__izq img {
        width: 160px;
    }
    .produccion__info__der {
        padding: 0px 20px;
    }
    .produccion__info__der p {
        font-size: 1.3em;
    }
    .produccion__info {
        padding: 20px 30px;
    }
    .produccion__info__izq {
        padding: 0 20px;
    }
    .produccion__tab {
        justify-content: center;
        font-size: 1.4em;
    }
    .contacto__titulo {
        font-size: 2em;
        padding-top: 70px;
    }
    .contacto__mapa {
        height: 500px;
    }
    .contacto__abajo__wrap {
        display: flex;
    }
    .contacto__datos {
        flex-grow: 1;
    }
    .contacto__formulario {
        flex-grow: 1;
    }
    .contacto__datos__item h5 {
        font-size: 1.6em;
    }
    .contacto__datos__item p {
        font-size: 1.2em;
    }
    .container-wsp {
        padding: 20px;
    }
    .wsp {
        width: 70px;
    }
    /* header desktop */

    .producto-tab__wrap {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .productos__item {
        display: flex;
    }

    .categorias {
        width: 30%;
    }
    .producto-tab {
        width: 70%;
        margin-top: 0px;
    }
    .producto-tab__item{
        width: 395px;
        min-width: 350px;
    }
    .categorias__titulo {
        margin-top: 0;
    }
    .caracteristicas__producto__wrap {
        display: flex;
    }
    .caracteristicas__producto__izq {
        width: 48%;
    }
    .caracteristicas__producto__der {
        width: 48%;
    }
    .boton-pdf {
        width: 340px !important;
    }
}
/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .producto-tab__item{
        padding: 15px 10px;
    }
}

@media (min-width: 1600px) {
    .producto-tab__item{
        width: 550px;
    }
}