$color1: #2b66bd;
/*Color 2 y 3 son casi la misma tonalidad, el color 3 es un poco mas oscuro*/
$color2: #0402f6;
$color3: #0202a8;
$color4: #2b66bd;
$color5: linear-gradient(135deg, #023194 0%, #0096e1 100%);
$color6: #2b66bd;
$color7: #2b66bd;
$color8: #2b66bd;
$color9: #2b66bd;
$color10: #818284;
